<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap-4.6.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/template.css"></link>
</head>
<body>
    <div class="container">
        <div class="content1">
            <img class="col" src="../static/img/title.png" alt="logo" class="logo">
        </div>
        <div class="content2">
            <div>{% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="content3">
                <p>_______________________</p>
                <p><strong>Lizhi Deng</strong></p>
                <p><em>Sales & Marketing Manager</em></p>
                <p><strong>EVERWELL CABLE AND ENGINEERING COMPANY LIMITED</strong></p>
                <hr class="footer1_hr" style="color:rgb(142, 187, 241); border: 1px solid; width: 100%;">
                <p class="footer1" style="color:rgb(166, 166, 166); font-size: 9px; text-align: center;">Factory address: Plot No. 4-12, Block
                G, Dundani Mkuranga, Coast Region, Tanzania</p>
                </div>
        </div>
    </div>
</body>
</html>